DATABASE_URL="postgresql://postgres:postgres@localhost:5432/shelby_vinyl"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
NEXT_PUBLIC_APP_NAME="Shelby Vinyl"
NEXT_PUBLIC_APTOS_NETWORK="testnet"
NEXT_PUBLIC_SHELBY_EXPLORER_BASE_URL="https://explorer.shelby.xyz"
NEXT_PUBLIC_SHELBYNET_FAUCET_URL="https://docs.shelby.xyz/apis/faucet/shelbyusd"
SHELBY_API_KEY=""
SHELBY_NAMESPACE="music"
SHELBY_OWNER_ADDRESS=""
SHELBY_RPC_URL=""
